<h1>Вход</h1>
<hr />
<%= link_to 'Начало', root_path %>
<hr />

<div id="guestbook-login-form-box">
  <%= form_tag sessions_path, :id => "guestbook-login-form" do %>
    <div class="form-fields">
      <div class="form-item form-item-text form-item-email">
        <%= label_tag :email, 'eMail' %>
        <%= text_field_tag :email, params[:email], :class => 'form-text' %>
      </div>
      <div class="form-item form-item-text form-item-password">
        <%= label_tag :password, 'Пароль' %>
        <%= password_field_tag :password, nil, :class => 'form-text' %>
      </div>
      <div class="form-item form-item-check-box form-item-remember-me">
        <%= label_tag :remember_me, 'Запомнить меня' %>
        <%= check_box_tag :remember_me, 1, params[:remember_me] %>
      </div>
      <div class="form-actions">
        <%= submit_tag "Вход" %>
      </div>
    </div>
  <% end %>
  <div id="login-page-menu"><%= link_to "Восстановить пароль", pwdreset_path %></div>
</div>

