<h1>Сброс пароля</h1>
<hr />
<%= link_to 'Начало', root_path %>
<hr />

<div id="password-reset-form-box">
  <%= form_for @user, :url => password_reset_path(params[:id]), :html => {:id => "password-reset-form"} do |f| %>
    <%= render 'shared/error_messages', :target => @user %>
    <div class="form-fields">
      <div class="form-item form-item-text form-item-password">
        <%= f.label :password, 'Новый пароль' %>
        <%= f.password_field :password, :class => 'form-text' %>
      </div>
      <div class="form-item form-item-text form-item-password">
        <%= f.label :password_confirmation, 'Подтверждение нового пароля' %>
        <%= f.password_field :password_confirmation, :class => 'form-text' %>
      </div>
      <div class="form-actions">
        <%= f.submit "Обновить пароль" %>
      </div>
    </div>
  <% end %>
</div>
