<h1>Восстановление пароля</h1>
<hr />
<%= link_to 'Начало', root_path %>
<hr />

<div id="password-reset-req-form-box">
  <%= form_tag password_resets_path, :method => :post, :id => "password-reset-req-form" do %>
    <div class="form-fields">
      <div class="form-item form-item-text form-item-email">
        <%= label_tag :email, 'Ваш eMail' %>
        <%= text_field_tag :email, params[:email], :class => 'form-text' %>
      </div>
      <div class="form-actions">
        <%= submit_tag "Сбросить пароль" %>
      </div>
    </div>
  <% end %>
</div>
