<h1>Регистрация нового пользователя</h1>
<hr />
<%= link_to 'Начало', root_path %>
<hr />

<div id="guestbook-register-form-box">
  <%= form_for @user, :html => {:id => "guestbook-register-form"}  do |f| %>
    <%= render 'shared/error_messages', :target => @user %>

    <div class="form-fields">
      <div class="form-item form-item-text form-item-email">
        <%= f.label :email, 'eMail' %>
        <%= f.text_field :email, :class => 'form-text' %>
      </div>
      <div class="form-item form-item-text form-item-password">
        <%= f.label :password, 'Пароль' %>
        <%= f.password_field :password, :class => 'form-text' %>
      </div>
      <div class="form-item form-item-text form-item-password">
        <%= f.label :password_confirmation, 'Подтверждение пароля' %>
        <%= f.password_field :password_confirmation, :class => 'form-text' %>
      </div>
      <div class="form-actions">
        <%= f.submit "Зарегистрироваться" %>
      </div>
    </div>
  <% end %>
</div>
