<% if target.errors.any? %>
  <div id="error_explanation">
    <h2><%= target.errors.count %> <%= Russian::p(target.errors.count, "ошибка", 'ошибки', 'ошибок') %>:</h2>
    <ul>
    <% target.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
