<div id="guestbook-form-box">
  <%= form_for @post, :html => {:id => "guestbook-form"} do |f| %>
    <%= render 'shared/error_messages', :target => @post %>

    <div class="form-fields">
      <!-- Username -->
      <div class="form-item form-item-text form-item-username">
        <%= f.label :username, "Имя" %><%= mark_required(@post, :username) %>
        <%= f.text_field :username, :size => 20, :id => 'guestbook-post-username', :class => 'form-text' %>
      </div>
      <!-- EMail -->
      <% unless logged_in? %>
        <div class="form-item form-item-text form-item-email">
          <%= f.label :email, 'eMail' %><%= mark_required(@post, :email) %>
          <%= f.email_field :email, :size => 20, :id => 'guestbook-post-email', :class => 'form-text' %>
        </div>
      <% end %>
      <!-- Content -->
      <div class="form-item form-item-textarea form-item-content">
        <%= f.label :content, 'Сообщение' %><%= mark_required(@post, :content) %>
        <%= f.text_area :content, :cols => '50', :rows => '10', :id => 'guestbook-post-content', :class => 'form-textarea' %><br />
      </div>
      <% if logged_in? %>
        <div id="post-options">
          <% if allow_param? :post, :approved %>
            <%= f.label :approved, 'Опубликован' %> <%= f.check_box :approved, {:checked => (if controller.action_name == 'new' then true else @post.approved end)} %>
          <% end %>
          <% if allow_param? :post, :private %>
            <%= f.label :private, 'Скрытый' %> <%= f.check_box :private %>
          <% end %>
        </div>
      <% end %>
      <!-- Actions -->
      <div class="form-actions">
        <%= f.submit :id => 'guestbook-form-submin', :class => 'form-submit' %>
      </div>
    </div>

    <div class="form-captcha">
      <div class="form-tips">
        При написании сообщения можно использовать разметку <%= link_to 'MARKDOWN', 'javascript:void(0)', :id => 'markdown-example-link' %>.
      </div>
      <%= content_tag :div, :id => "markdown-examples", :class => lambda{ 'element-hidden' unless logged_in?  }.call do %>
        <table>
          <thead>
            <tr>
              <th>Пример</th>
              <th>Результат</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td>**Bold**</td>
            <td><strong>Bold</strong></td>
          </tr>
          <tr>
            <td>[Link](http://www.example.net)</td>
            <td><a href="http://www.example.net">Link</a></td>
          </tr>
          <tr>
            <td>*Italic*</td>
            <td><em>Italic</em></td>
          </tr>
          <tr>
            <td>* Listed <br />* Items</td>
            <td><ul>
              <li>Listed</li>
              <li>Items</li>
            </ul></td>
          </tr>
          <tr>
            <td>> Цитата</td>
            <td><blockquote>Цитата</blockquote></td>
          </tr>
          </tbody>
        </table>
      <% end %>
      <hr />
      <br />
      <% unless logged_in? %>
        <%= recaptcha_tags %>
      <% end %>
    </div>
    <div class="divider-left"></div>

  <% end %>
</div>
