<%= content_tag :div, :id => "guestbook-post-#{post.id}", :class => post_css_classes(post, ['guestbook-post', cycle("even", "odd")]) do %>
  <div class="post-meta">
    <div class="post-autor"><%= post.username %></div>
    <div class="post-time"><%=l post.created_at, :format => '%d-%m-%Y %H:%M:%S' %></div>
  </div>
  <div class="post-actions">
    <ul class="actions">
      <li><%= link_to "#", post, :class => "guestbook-post-link" %></li>
      <% if allow? :posts, :edit, post %>
      <li> | <%= link_to 'Править', edit_post_path(post), :class => ['guestbook-post-link', 'action'], :data => {'action' => 'edit', 'key' => post.id}  %></li>
      <% end %>
      <% if allow? :posts, :destroy, post %>
      <li> | <%= link_to 'Удалить', post_path(post), :method => :delete, :class => ['guestbook-post-link', 'action'], :data => {'action' => 'edit', 'key' => post.id, :confirm => 'Вы уверены?' }  %></li>
      <% end %>
    </ul>
  </div>
  <div class="post-content"><%= check_markup(markdown post.content, true) %></div>
  <div class="divider-right"></div>
<% end %>
