<% content_for :head, auto_discovery_link_tag(:atom, feed_path) %>
<%= link_to image_tag('feed-icon-28x28.png'), feed_path, :id => 'feed-icon' %>
<h1>Гостевая книга</h1>
<hr />
  <%= link_to 'Начало', root_path %>
   | <%= link_to 'Разместить сообщение', new_post_path %>
<hr />
<%= form_tag posts_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search], :size => 50%> <%= submit_tag 'Поиск', :name => nil %>
<% end %>
<hr />
<%= will_paginate @posts %>
<section id="guestbook">
  <hr />
  <%= render @posts %>
</section>
<hr />
<%= will_paginate @posts %>
