/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
  background-color: lightcyan;
}

h1 {
  margin-top: 0px;
}

a {
  color: mediumBlue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 17px;
  margin: 0px;
}

blockquote {
  margin: 0;
  padding-left: 10px;
  border-left: solid 5px #ccc;
  color: #777;
}

.bold {
  font-weight: bold;
}

.element-hidden {
  display: none;
}

input {
  margin: 0px;
}
label {
  display: block;
  font-weight: bold;
}
div.divider-left {
  clear: left;
}
div.divider-right {
  clear: right;
}
.form-required {
  color: red;
}
.form-text {
  border: 1px solid cadetBlue;
  font-family: "Segoe UI",Tahoma,Geneva,sans-serif;
  color: dimgrey;
  background-color: linen;
}
.form-text:hover {
  border-color: black;
}
.form-text:focus {
  border: 1px solid navy;
  outline: none;
  background-color: white;
}
.form-textarea {
  border: 1px solid cadetBlue;
  font-family: monospace;
  padding: 5px;
  color: dimgrey;
  background-color: linen;
}
.form-textarea:hover {
  border-color: black;
}
.form-textarea:focus {
  border: 1px solid navy;
  outline: none;
  background-color: white;
}

#flashes {
  background-color: white;
  padding: 1px 10px 1px 10px;
  margin-top: 10px;
  border-radius: 7px;
  margin-bottom: 10px;
}

#flash_notice, #flash_error, #flash_alert, #flash_recaptcha_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert, #flash_recaptcha_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

#error_explanation {
  border: 1px solid red;
  padding: 5px 22px 20px;
  background: honeydew;
  color: red;
  margin: 10px;
}

.field_with_errors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin-bottom: 0;
}

.field_with_errors input,
.field_with_errors textarea
 {
  border: 1px solid red;
}

#main {
  margin-left: 10%;
  margin-right: 10%;
  padding: 5px 20px 20px 20px;
  border: 1px solid burlywood;
  background-color: #78e9a7;
}

#feed-icon {
  float: right;
  margin-top: 15px;
}

#nav-box {
  float: right;
  background-color: #9AC5F7;
  border: 1px dotted red;
  padding: 10px;
  margin-left: 20px;
}

#nav-box h2 {
  margin: 0px;
  text-align: center;
  font-family: monospace;
  color: blueViolet;
  display: block;
  border: 1px solid black;
  border-radius: 8px;
  background-color: wheat;
  box-shadow: 4px 3px 13px -2px red;
  text-shadow: 1px 1px 2px cornflowerBlue;
}

#nav-box a {
  text-decoration: none;
  color: #0b3676;
  font-family: Georgia,"Times New Roman",Times,serif;
}

#nav-box a:hover {
  text-decoration: underline;
}

#user-links {
  float: right;
}
#user-links li {
  display: inline;
  font-family: monospace;
  font-size: 0.9em;
}

.marked {
  background-color: navajowhite;
  color: red;
  font-weight: bold;
}

.marked sup {
  font-style: italic;
  color: blue;
}

.code-container {
  border-radius: 5px 5px 5px 5px;
  padding: 1em 2em;
  background-color: mediumSeaGreen;
}

