// Place all the styles related to the password_resets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#password-reset-req-form,
#password-reset-form {
  .form-fields {
    text-align: center;
  }
  .form-item {
    margin-bottom: 10px;
  }

  .form-text {
    padding: 5px;
    font-size: 1.5em;
  }

  .form-actions input {
    padding: 10px 87px;
    font-size: 1.3em;
  }
}

#password-reset-req-form-box,
#password-reset-form-box {
  background-color: mediumAquaMarine;
  padding: 20px;
  border-radius: 7px;
}
