// Place all the styles related to the post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.guestbook-post {
  font-family: Georgia,"Times New Roman",Times,serif;
  margin-bottom: 20px;
  padding: 10px;
  background-color: lightGoldenrodYellow;
  border-radius: 7px;
  border: 1px solid royalBlue;

  ul.actions {
    margin: 0px;
    padding: 0px;
  }

  ul.actions li {
    display: inline;
    font-family: monospace;
    font-size: 0.9em;
  }
}

.guestbook-post.even {
  box-shadow: 3px 3px 6px -1px hotpink;
}
.guestbook-post.odd {
  box-shadow: 4px 4px 6px -1px lightcyan;
}
.guestbook-post.private {
  background-color: aquamarine;
}
.guestbook-post.not-approved {
  background-color: lightpink;
}

.post-meta {
  float: right;
  background-color: sandyBrown;
  border-radius: 7px;
  padding: 5px;
}
.post-autor {
  font-family: monospace;
  text-align: center;
  font-weight: bold;
}
.post-time {
  font-family: monospace;
}
.guestbook-post-anchor {
  font-family: monospace;
}

#guestbook-form-box {
  background-color: mediumAquaMarine;
  padding: 20px;
  border-radius: 7px;
}

#guestbook-form {
   label {
    float: left;
    margin-top: 14px;
    min-width: 130px;
  }

  .form-text {
    padding: 5px;
    font-size: 1.5em;
  }

  .form-item {
    margin-bottom: 10px;
  }

  .form-textarea {
    width: 400px;
  }

  .form-submit {
    padding: 10px;
    width: 225px;
    font-weight: bold;
    font-size: 1em;
  }

  .form-fields {
    float: left;
    width: 60%;
  }

  .form-captcha {
    margin-left: 61%;
    border: 1px solid red;
    background-color: white;
    padding: 20px;
  }
}

#post-options {
  background-color: steelblue;
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 10px;

  label {
    float: none;
    display: inline;
  }
}

#markdown-examples {
  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8em;

  }
  td {
    padding: 5px;
    border: 1px solid gainsboro;
  }
  th {
    padding: 3px;
    border: 1px solid gainsboro;
    background-color: gainsboro;
  }
}

