// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*-----{ Guestbook login form }-----------------------------------------------*/

#guestbook-login-form-box {
  position: relative;
  background-color: mediumAquaMarine;
  padding: 20px;
  border-radius: 7px;
}

#guestbook-login-form {

  .form-fields {
    text-align: center;
  }

  .form-item {
    margin-bottom: 10px;
  }

  .form-text {
    padding: 5px;
    font-size: 1.5em;
  }

  .form-actions input {
    padding: 10px 87px;
    font-size: 1.3em;
  }

  .form-item-remember-me input {
    width: 20px;
    height: 20px;
  }
}

#login-page-menu {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 0.9em;
  font-family: monospace;
}


